<div>
  <label>Email </label>
    <input placeholder='Enter a valid e-mail address' pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" ngModel #emailref="ngModel">
      <div *ngIf="emailref.errors && (emailref.touched || emailref.dirty)">
        <div [hidden]="!emailref.errors?.pattern"><br>
          <div>Email address is incorrect</div>
        </div> 
      </div> 
</div>
<br>
<br>
<label for="country">Choose your country </label>
<select name="country" id="customersCountry">
  <option data-testid="select-option" value="spain">Spain</option>
  <option data-testid="select-option" value="france">France</option>
  <option data-testid="select-option" value="italy">Italy</option>
</select>
<br>
<br>
<input type="checkbox" id="storeAvailableEmail">
<label>I want to receive an email when the store is available</label>

